<div class="add-container">
  <input class="form-control add-input-text" type="text" [(ngModel)]="item"  placeholder="Enter text">  
  <button type="button" class="btn btn-primary add-button" (click)="addItem()">Add</button> 
</div>

<div class="list-group">
    <div *ngFor="let item of checklistItems | async" [class.checked]="item.checked" class="list-group-item" (click)="itemChecked(item)">
      <div class="text" [class.checked]="item.checked">{{item.text}}</div>
      <div class="remove" (click)="remove(item)"><i class="fa fa-trash" aria-hidden="true"></i></div>
    </div>
</div>


  
