.list-group-item{
    display: block;
}

.checked {
    text-decoration: line-through;
    background: lightgray;
}

.text{
    float: left;
}

.remove{
    float: right;
}


.add-container {
    display: flex;
    margin-bottom: 5px;

    .add-input-text {
        flex-grow: 1; 
    }
        
    .add-button {
        width: 70px;
        margin-left: 5px;  
    }

}