
<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
        <h1>Lists</h1><span> <i class='fa fa-code'></i> by <a href='http://timokruisselbrink.com'>Timo Kruisselbrink</a></span>
      </div>
      <div class="container" [ngClass]="containerClass">
        <div class="card"></div>
        <div class="card">
          <h1 class="title">Login</h1>

            <div class="input-container">
              <input [(ngModel)]="email" type="#{type}" id="#{label}" required="required"/>
              <label for="#{label}">Email</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <input  [(ngModel)]="password" type="password" id="#{label}" required="required"/>
              <label  for="#{label}">Password</label>
              <div class="bar"></div>
            </div>
            <div class="button-container">
              <button (click)="onLoggedin()"><span>Go</span></button>
            </div>
            <div class="footer"><a href="#">Forgot your password?</a></div>

        </div>
        <div class="card alt">
          <div class="toggle" (click)="onRegisterClick()"></div>
          <h1 class="title">Register
            <div class="close" (click)="onCloseRegisterClick()"></div>
          </h1>
            <div class="input-container">
              <input type="#{type}" id="#{label}" required="required"/>
              <label for="#{label}">Username</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <input type="password" id="#{label}" required="required"/>
              <label for="#{label}">Password</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <input type="password" id="#{label}" required="required"/>
              <label for="#{label}">Repeat Password</label>
              <div class="bar"></div>
            </div>
            <div class="button-container">
              <button><span>Next</span></button>
            </div>
        </div>
      </div>





<!-- <div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular4</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input [(ngModel)]="email" autofocus type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="password" type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/blank-page']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div> -->
