$color-dark-primary:        #4A148C; 
$color-default-primary:     #7B1FA2;  
$color-light-primary:       #BA68C8;  
$color-primary-text:        black;
$color-in-color-text:       white;
$color-in-color-text-hover: lightgrey;
$color-accent:              #00B0FF;  
$color-accent-light:        #40C4FF;  
$color-accent-tint:         #33C0FF;  
$color-accent-shade:        #009EEB;  
// $color-accent-button:         (#00B0FF box-shadow: 0px 1px 0px #33C0FF inset, 0px -1px 0px #009EEB inset, 0px 0px 5px rgba(0, 0, 0, 0.5)); 